.DetailCard {
    .leftSide {
      float: left;
    }

    .rightSide {
        margin-left: 230px;
        .labels {
            padding-top: 10px;
            overflow: auto;
            div {
                margin: 5px;
            }

        }

        .taskAction {   
            padding: 0px !important;
        }
        
        .checkbox {
            margin-bottom: 0px !important;
            padding-bottom: 0px !important;
        }
    }

}